
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TTHPL | FAQ</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/css/styles.css">
</head> 

<body class="home-page">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h1 class="logo">
                <a href="index.html"><span class="text">TTHPL Logo</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="foundation">Foundation <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="foundation">About the Foundation</a></li>
                                <li><a href="oat">OAT</a></li>
                                <li><a href="insaf">INSAF</a></li>                   
                            </ul> </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="activity">Activities <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="activity/events">Events</a></li>
                                <li><a href="activity/csr">CSR</a></li>
                                <li><a href="activity/reward">Rewards</a></li>                   
                            </ul>                            
                        </li>
                        <li class="nav-item"><a href="team">Team</a></li>   
						<li class="active nav-item"><a href="faq">FAQ</a></li>
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="register">Register <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="register/school">School Registration</a></li>
                                <li><a href="register/student">Student Registration</a></li>  
								<li><a href="register/internship">Internship Registration</a></li>
                                <li><a href="register/volunteer">Volunteer Registration</a></li>  				
                                <li><a href="register/business">Associate Bussiness Partner Registration</a></li> 				
                            </ul>                            
                        </li>
						<li class="nav-item dropdown  nav-item-cta last">
                            <a class="btn btn-cta btn-cta-secondary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Login <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="school-login">School Login</a></li>
                                <li><a href="student-login">Student Login</a></li>  
                            </ul>                            
                        </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="headline-bg">
    </div><!--//headline-bg-->         
    

    
    <!-- ******Features Section****** -->       
    <section class="features-tabbed section">
	<h2 class="title">Frequently Asked Questions</h2> 
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0"  style="background-color:white; opacity:1;padding-left:50px;padding-right:50px">
					<section class="faq section" style="background-color:white;">
						<h2 class="title text-center">Frequently Asked Questions</h2>
						<hr>
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-plus-square"></i>What are the benefits of OAT contest?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq1">
										<div class="panel-body">
											OAT is a contest which TTHPL is organising to identify talent, it will prove very useful to students/ parents who wish to assess their strengths and weaknesses in Maths, Science, English and IQ subjects. Based on the development of a skill blueprint, Panel of Consultant of TTHPL will develop Detailed Analysis Report. The analysis of the performance is done at individual student level. Talent will be further nurtured by TTHPL by organizing multiple activities.
										</div>
									</div>
								</div><!--//panel-->
						
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-plus-square"></i>Who all are eligible?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq2">
										<div class="panel-body">
											Students from Pvt. /Govt schools of classes I to X, all boards, all mediums, are eligible to participate in this examination.
										</div>
									</div>
								</div><!--//panel-->
						
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-plus-square"></i>I am interested to take part in the OAT. How will I come to know about the details of the exam?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq3">
										<div class="panel-body">
											 You can contact your school principal / In-charge Teacher for competitions. Your school also can participate in this examination. Request your school.
										</div>
									</div>
								</div><!--//panel-->
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq5"><i class="fa fa-plus-square"></i>What is the syllabus for the OAT?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq5">
										<div class="panel-body">
											OAT syllabus will be mixtures the all boards. Suitable for all boards.
										</div>
									</div>
								</div><!--//panel-->
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq7"><i class="fa fa-plus-square"></i>What is the structure and pattern of the examination?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq7">
										<div class="panel-body">
											There will be a different Question paper for each class. All the questions are objective-type with no negative marking for wrong answers.
										</div>
									</div>
								</div><!--//panel-->
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq8"><i class="fa fa-plus-square"></i>Is the OAT conducted in English only?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq8">
										<div class="panel-body">
										   Apart from English medium OAT are also conducted in regional languages.
										</div>
									</div>
								</div><!--//panel-->    
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq9"><i class="fa fa-plus-square"></i>When are the results of OAT declared?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq9">
										<div class="panel-body">
										   Results of OAT will be declared normally after one month of the exam conducted.
										</div>
									</div>
								</div><!--//panel-->  
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq10"><i class="fa fa-plus-square"></i>Do I have to regularly visit your website for the latest update of TTHPL activities?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq10">
										<div class="panel-body">
										   All the important information regarding Talent Exams, Seminars, workshops, educational tours, motivational speech etc., like date, time and venue is available on our website. So it is beneficial for you to surf our site on regular basis.
										</div>
									</div>
								</div><!--//panel-->  
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq11"><i class="fa fa-plus-square"></i>I am going to participate in OAT. Will I get Admit Card?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq11">
										<div class="panel-body">
										   Yes, you will receive admit card one weeks before the examination. Those who do not receive their Admit Card can request school/ ABPs for the same three days before the exam.
										</div>
									</div>
								</div><!--//panel-->  
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq12"><i class="fa fa-plus-square"></i>Participating in coming OAT, I have given / wrong printed my name.</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq12">
										<div class="panel-body">
										   Any corrections (Spelling Mistakes) which are liable to be made can be done at the Examination center it self.
										</div>
									</div>
								</div><!--//panel-->  
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq13"><i class="fa fa-plus-square"></i>I want to know my rank at city level of exam OAT. But I do not find on your website.</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq13">
										<div class="panel-body">
										   We only declare All India and State Ranks. City Wise achievers are declared only for selected cities.<br><b>Note:</b> City Rank (for every Class) will be declared for the classes having a minimum participation of 500 students in a particular city.
										</div>
									</div>
								</div><!--//panel-->  
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq14"><i class="fa fa-plus-square"></i>I appeared for OAT. Will I get the certificate?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq14">
										<div class="panel-body">
										   We will send the Participation Certificate.
										</div>
									</div>
								</div><!--//panel-->    
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq4"><i class="fa fa-plus-square"></i>Myself and few of my friends are interested to take part in the OAT but our school has not yet received any information. What do we do?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq4">
										<div class="panel-body">
											Let us know the complete address of your school. We will send detailed information and registration forms to your school so that your Principal / Science Teacher can register school for the exam and then you can participate. You can send complete address to sanjay.singh@tthpl.in
										</div>
									</div>
								</div><!--//panel--> 
								
								<div class="panel">
									<div class="panel-heading">
										<h4 class="panel-title"><a data-parent="#accordion"
										data-toggle="collapse" class="panel-toggle" href="#faq6"><i class="fa fa-plus-square"></i>My school does not want to register for the OAT, but I am very eager to write the exam. Can I do it on my own?</a></h4>
									</div>
						
									<div class="panel-collapse collapse" id="faq6">
										<div class="panel-body">
											You can apply individually and take the exam in declared test centres. Please send the filled application form to our office with required enclosures. Terms and conditions applied.
										</div>
									</div>
								</div><!--//panel-->   
				</section><!--//faq-->
				</div><!--//tab-pane-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-tabbed-->

	

    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">  
					 <div class="footer-col links col-md-3 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Register</h3>
                            <ul class="list-unstyled">
                                <li><a href="register/school"><i class="fa fa-caret-right"></i>School Registration</a></li>
                                <li><a href="register/student"><i class="fa fa-caret-right"></i>Student Registration</a></li>
                                <li><a href="register/volunteer"><i class="fa fa-caret-right"></i>Volunteer Registration</a></li>
                                <li><a href="register/internship"><i class="fa fa-caret-right"></i>Internship Registration</a></li>
								<li><a href="register/business"><i class="fa fa-caret-right"></i>Associate Business Partner Registration</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col--> 
					
                   
                                
                    <div class="footer-col links col-md-3 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Login</h3>
                            <ul class="list-unstyled">
                                <li><a href="school-login"><i class="fa fa-caret-right"></i>School Login</a></li>
                                <li><a href="student-login"><i class="fa fa-caret-right"></i>Student Login</a></li>
                                
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
					
					 <div class="footer-col links col-md-3 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Activites</h3>
                            <ul class="list-unstyled">
                                <li><a href="oat"><i class="fa fa-caret-right"></i>OAT</a></li>
                                <li><a href="insaf"><i class="fa fa-caret-right"></i>INSAF</a></li>
                                <li><a href="activity/events"><i class="fa fa-caret-right"></i>Events</a></li>
                                <li><a href="activity/csr"><i class="fa fa-caret-right"></i>CSR</a></li>
                                <li><a href="activity/reward"><i class="fa fa-caret-right"></i>Rewards</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col--> 
                    <div class="footer-col contact col-xs-12 col-md-3">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">Talent Treasure Hunt Pvt. Ltr.,</span><br>
                                    <span class="region">A-404, Shangrila, Hermitage Society,</span><br>
                                    <span class="postal-code">Mira Road (East),</span><br>
                                    <span class="country-name">Mumbai - 401107.</span>
                                </span>                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>+91 8652542430</p>
                            <p class="email"><i class="fa fa-envelope-o"></i>sanjay.singh@tthpl.in</p>
							<ul class="social list-inline">
                                <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>        
                                <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>             
                            </ul>
						</div><!--//footer-col-inner-->
                    </div><!--//contact-->   
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ <a href="#" target="_blank">Treasure Talent Hunt Pvt.Ltd.</a></small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
   
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/static/js/back-to-top.js"></script>
    <script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="/static/js/main.js"></script>
    
            
</body>
</html> 

