
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Talent Treasure Hunt Pvt. Ltr.</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/css/styles.css">
</head> 

<body class="home-page">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h1 class="logo">
                <a href="index.html"><span class="text">TTHPL Logo</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="foundation">Foundation <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="foundation">About the Foundation</a></li>
                                <li><a href="oat">OAT</a></li>
                                <li><a href="insaf">INSAF</a></li>                   
                            </ul> </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="activity">Activities <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="activity">Events</a></li>
                                <li><a href="activity">CSR</a></li>
                                <li><a href="activity">Rewards</a></li>                   
                            </ul>                            
                        </li>
                        <li class="nav-item"><a href="team">Team</a></li>   
						<li class="nav-item"><a href="news">News</a></li>	
						<li class="nav-item"><a href="faq">FAQ</a></li>
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="register">Register <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="register">School Registration</a></li>
                                <li><a href="register">Student Registration</a></li>  
								<li><a href="register">Internship Registration</a></li>
                                <li><a href="register">Volunteer Registration</a></li>  				
                                <li><a href="register">Associate Bussiness Partner Registration</a></li> 				
                            </ul>                            
                        </li>
						<li class="nav-item"><a href="contact">Contact Us</a></li>
						<li class="nav-item dropdown  nav-item-cta last">
                            <a class="btn btn-cta btn-cta-secondary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Login <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="school-login">School Login</a></li>
                                <li><a href="ABP-login">Associate Bussiness Partner Login</a></li>                  
                            </ul>                            
                        </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="headline-bg">
    </div><!--//headline-bg-->         
    

    
    <!-- ******Features Section****** -->       
    <section class="features-tabbed section" >
        <center><div class="container">
            <h2 class="title text-center">Product Features</h2>
            <div class="row">
                <div class=" text-center col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs text-center" role="tablist">
                        <li id="a" class="active"><a href="#feature-1" role="tab" data-toggle="tab"><i class="fa fa-cloud-upload"></i><br /><span>School</span></a></li>
                        <li><a href="#feature-2" role="tab" data-toggle="tab"><i class="fa fa-tachometer"></i><br /><span>Student</span></a></li>
                        <li><a href="#feature-3" role="tab" data-toggle="tab"><i class="fa fa-photo"></i><br /><span></span>Volunteer</a></li>
                        <li><a href="#feature-4" role="tab" data-toggle="tab"><i class="fa fa-photo"></i><br /><span>Internship</span></a></li>
                        <li><a href="#feature-5" role="tab" data-toggle="tab"><i class="fa fa-users"></i><br /><span>Business Partner</span></a></li>
                    </ul><!--//nav-tabs-->
                    
                    <!-- Tab panes -->
                    <div class="tab-content" style="background-color:white; opacity:1; border-bottom:1px">
                        <div class="tab-pane fade in active" id="feature-1">
                            
							<div class="form-container col-xs-12 col-md-12" style="background-color:#fcedb5"><br><br><br>
								<h2 class="title text-center">School Registration </h2>
								 <div class="input-group add-on col-sm-6 col-sm-offset-3">
										<input class="form-control" placeholder="Search School" name="srch-term" id="srch-term" type="text">
										<div class="input-group-btn">
											<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
										</div>
									</div><br><br>
						
					{% for posts in school_posts %}	
					<div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#{{posts[0]}}"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;{{ posts[0] }}</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="{{posts[0]}}">
                            <div class="panel-body">
									  <h2>School Details</h2><br>
									  
									 
									  <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>
										
											  <tr>
												<td>School Name</td>
												<td>{{ posts[0] }}</td>
												
											  </tr>
											  <tr>
												<td>Board</td>
												<td>{{ posts[1] }}</td>
												
											  </tr>
											  <tr>
												<td>Type</td>
												<td>{{ posts[2] }}</td>
												
											  </tr>
											   <tr>
												<td>Phone</td>
												<td>{{ posts[3] }}</td>
												
											  </tr>
											   <tr>
												<td>Address</td>
												<td>{{ posts[4] }}</td>
												
											  </tr>
											   <tr>
												<td>City</td>
												<td>{{ posts[5] }}</td>
												
											  </tr>
											   <tr>
												<td>State</td>
												<td>{{ posts[6] }}</td>
												
											  </tr>
											   <tr>
												<td>Zip Code</td>
												<td>{{ posts[7] }}</td>
												
											  </tr>
											   <tr>
												<td>Email</td>
												<td>{{ posts[8] }}</td>
												
											  </tr>
											   <tr>
												<td>Password</td>
												<td>{{ posts[9] }}</td>
												
											  </tr>
											   <tr>
												<td>Website</td>
												<td>{{ posts[10] }}</td>
												
											  </tr>
											</tbody>
										  </table>
										  <h2>School Co-ordinators Details</h2><br>
										   <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>

											  <tr>
												<td>Name</td>
												<td>{{ posts[11] }}</td>
												
											  </tr>
											  <tr>
												<td>Designation</td>
												<td>{{ posts[12] }}</td>
												
											  </tr>
											  <tr>
												<td>Phone</td>
												<td>{{ posts[13] }}</td>
												
											  </tr>
											   <tr>
												<td>Email</td>
												<td>{{ posts[14] }}</td>
												
											  </tr>
											    
											</tbody>
										  </table>
										  <h2>School Principals Details</h2><br>
										    <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td>Name</td>
												<td>{{ posts[15] }}</td>
												
											  </tr>
											  <tr>
												<td>Designation</td>
												<td>{{ posts[16] }}</td>
												
											  </tr>
											  <tr>
												<td>Phone</td>
												<td>{{ posts[17] }}</td>
												
											  </tr>
											   <tr>
												<td>Email</td>
												<td>{{ posts[18] }}</td>
												
											  </tr>
											    
											</tbody>
										  </table>
										  <br><br>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-edit"></i>Edit</a>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-remove"></i>Remove</a>
                            </div>
                        </div>
                    </div><!--//panel-->
					{% endfor %}
            
                
							
							</div>

						</div><!--//tab-pane-->
						
                        <div class="tab-pane" id="feature-2">
                           
						   
						    <div class="form-container col-xs-12 col-md-12" style="background-color:#f9e5e0"><br><br><br>
								   <h2 class="title text-center">Student Registration</h2>
								    <div class="input-group add-on col-sm-6 col-sm-offset-3">
										<input class="form-control" placeholder="Search Student" name="srch-term" id="srch-term" type="text">
										<div class="input-group-btn">
											<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
										</div>
									</div><br><br>
					{% for posts in student_posts %}
					<div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#{{posts[0]}}"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;{{posts[0]}}</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="{{posts[0]}}">
                            <div class="panel-body">
									  <h2>Student Details</h2><br>
									  
									 
									  <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>
										
											  <tr>
												<td>First Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Last Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Date of Birth</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Gender</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Class</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Section</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Roll No.</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>School Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Parent's/Gaurdian's Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Phone</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Address</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>City</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>State</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Zip Code</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>E-Mail</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Percentage in Last Class</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Photo of Student</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  
											</tbody>
										  </table>
										  
										  <br><br>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-edit"></i>Edit</a>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-remove"></i>Remove</a>
                            </div>
                        </div>
                    </div><!--//panel-->
					{% endfor %}
          
            
                  
                                   
							</div>



						   
						   
						   
						   
                        </div><!--//tab-pane-->
						
						
                        <div class="tab-pane" id="feature-3">
						
						
                             <div class="form-container col-xs-12 col-md-12" style="background-color:#b5ffbd"><br><br><br>
								   <h2 class="title text-center">Volunteer Registration</h2>
								    <div class="input-group add-on col-sm-6 col-sm-offset-3">
										<input class="form-control" placeholder="Search Volunteer" name="srch-term" id="srch-term" type="text">
										<div class="input-group-btn">
											<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
										</div>
									</div><br><br>
									
					{% for posts in volunteer_posts %}			   
				   <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#{{posts[0]}}"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;{{posts[0]}}</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="{{posts[0]}}">
                            <div class="panel-body">
									  <h2>Volunteer Details</h2><br>
									  
									 
									  <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>
										
											  <tr>
												<td>First Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Last Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Date of Birth</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  
										
											  
											   <tr>
												<td>Phone</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Address</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>City</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>State</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Zip Code</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>E-Mail</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Marital Status</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Aread Of Interest</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Preffered Days</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Preffered Timing</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											</tbody>
										  </table>
										  
										  <br><br>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-edit"></i>Edit</a>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-remove"></i>Remove</a>
                            </div>
                        </div>
                    </div><!--//panel-->
					{% endfor %}			   
                    
							</div>


                          
                        </div><!--//tab-pane-->
						
						
						
						<!-- INTERNSHIP FORM BEGINS -->
                        <div class="tab-pane " id="feature-4">
                           
						         <div class="form-container col-xs-12 col-md-12" style="background-color:#d7b5ff"><br><br>
                               <h2 class="title text-center">Internship Registration</h2>
							   
										 				     <div class="input-group add-on col-sm-6 col-sm-offset-3">
										<input class="form-control" placeholder="Search Intern" name="srch-term" id="srch-term" type="text">
										<div class="input-group-btn">
											<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
										</div>
									</div><br><br>
					
					{% for posts in internship_posts %}
				   <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#{{posts[0]}}"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;{{posts[0]}}</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="{{posts[0]}}">
                            <div class="panel-body">
									  <h2>Intern Details</h2><br>
									  
									
									  <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>
										
											  <tr>
												<td>First Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Last Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Date of Birth</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  
												<tr>
												<td>Picture</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Gender</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Phone</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Address</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>City</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>State</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Zip Code</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>E-Mail</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Languages Known</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>University Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Besides, the above did you take any training, did any additional courses? If yes, please mention.</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Please mention if you have any specific skills and know-how which would be useful to consider your application? These may include skills such as public relations, web designing, graphics and art design, model-making, communication etc</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Number of Months</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											    <tr>
												<td>From Date</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											    <tr>
												<td>To Date</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											    <tr>
												<td>Field Of Interest</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											    <tr>
												<td>Preferred Location</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											    <tr>
												<td>What motivated you to apply for an internship with TTHPL? Please mention in not more than 200 words</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											</tbody>
										  </table>
										  
										  <br><br>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-edit"></i>Edit</a>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-remove"></i>Remove</a>
                            </div>
                        </div>
                    </div><!--//panel-->
					{% endfor %}
								 </div>



						   
						   
                        </div> <!-- END OF INTERNSHIP FORM -->
						
		<div class="tab-pane" id="feature-5">
		
		
			 <div class="form-container col-xs-12 col-md-12" style="background-color:#ffb5b5"><br><br><br>
				<h2 class="title text-center">Business Partner Registration</h2>
				
                      <div class="input-group add-on col-sm-6 col-sm-offset-3">
							<input class="form-control" placeholder="Search Business Partner" name="srch-term" id="srch-term" type="text">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
							</div>
						</div><br><br>
					
					{% for posts in business_posts %}
					<div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle active" href="#{{ posts[0] }}"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;&nbsp;{{posts[0]}}</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="{{ posts[0] }}">
                            <div class="panel-body">
									  <h2>Business Partner Details</h2><br>
									  <table class="table table-striped table-responsive">
											<thead>
											  <tr>
												<th><center>Information </center></th>
												<th>Details</th>
												
											  </tr>
											</thead>
											<tbody>
										
											  <tr>
												<td>First Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Last Name</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Date of Birth</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  
												<tr>
												<td>Picture</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Gender</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Phone</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Occupation</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Address</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>City</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>State</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>Zip Code</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											  <tr>
												<td>E-Mail</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>PAN Number</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											   <tr>
												<td>Resume</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											
											    <tr>
												<td>Preferred Location</td>
												<td>{{posts[0]}}</td>
												
											  </tr>
											    
											</tbody>
										  </table>
										  
										  <br><br>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-edit"></i>Edit</a>
										  <a class="btn btn-cta btn-cta-primary" href="#" target="_blank"><i class="fa fa-remove"></i>Remove</a>
                            </div>
                        </div>
                    </div><!--//panel-->
                    {% endfor %}
                    

						 </div>
           
          
        </div><!--//container-->        
    </div><!--//row-->
        </div><!--//container-->
            </div><!--//row-->
        </div><!--//container--></center>
    </section><!--//features-tabbed-->
    

	
    
          <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">  
					 <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Register</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>School Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Student Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Volunteer Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Internship Registration</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i>Associate Business Partner Registration</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col--> 
					
                   
                                
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">Login</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>School Login</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Associate Business Partner Login</a></li>
                                
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
					
					 <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Activites</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>OAT</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>INSAF</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Events</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>CSR</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Rewards</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col connect col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>        
                                <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>             
                            </ul>
                            <div class="form-container">
                                <p class="intro">Stay up to date with the latest news and events from TTHPL</p>
                                <form class="signup-form navbar-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                    </div>   
                                    <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>                                 
                                </form>                               
                            </div><!--//subscription-form-->
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="clearfix"></div> 
                </div><!--//row-->
                <div class="row has-divider">
                    <div class="footer-col download col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Mobile apps</h3>
                            <ul class="list-unstyled download-list">
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">Download for iOS</span> </a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-windows"></i><span class="text">Windows coming soon...</span></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//download-->
                    <div class="footer-col contact col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">Talent Treasure Hunt Pvt. Ltr.,</span><br>
                                    <span class="region">A-404, Shangrila, Hermitage Society,</span><br>
                                    <span class="postal-code">Mira Road (East),</span><br>
                                    <span class="country-name">Mumbai - 401107.</span>
                                </span>                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>9876543210</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">mohittly@gmail.com</a></p> 
                            <a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false">Follow @twitter_username</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                        
                        </div><!--//footer-col-inner-->
                    </div><!--//contact-->
                </div>
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ <a href="#" target="_blank">Treasure Talent Hunt Pvt.Ltd.</a></small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
 
   
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/static/js/back-to-top.js"></script>
    <script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="/static/js/main.js"></script>
	
	
	
	<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

	 <script src="/static/js/index.js"></script>

    
            
</body>
</html> 

