
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TTHPL | {{fname}} {{lname}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/css/styles.css">
</head> 

<body class="home-page">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h1 class="logo">
                <a href="index.html"><span class="text">TTHPL Logo</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="foundation">Foundation <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="foundation">About the Foundation</a></li>
                                <li><a href="oat">OAT</a></li>
                                <li><a href="insaf">INSAF</a></li>                   
                            </ul> </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="activity">Activities <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="activity">Events</a></li>
                                <li><a href="activity">CSR</a></li>
                                <li><a href="activity">Rewards</a></li>                   
                            </ul>                            
                        </li>
                        <li class="nav-item"><a href="team">Team</a></li>   
						<li class="nav-item"><a href="news">News</a></li>	
						<li class="nav-item"><a href="faq">FAQ</a></li>
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="register">Register <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="register">School Registration</a></li>
                                <li><a href="register">Student Registration</a></li>  
								<li><a href="register">Internship Registration</a></li>
                                <li><a href="register">Volunteer Registration</a></li>  				
                                <li><a href="register">Associate Bussiness Partner Registration</a></li> 				
                            </ul>                            
                        </li>
						<li class="nav-item"><a href="contact">Contact Us</a></li>
						<li class="nav-item dropdown  nav-item-cta last">
                            <a class="btn btn-cta btn-cta-secondary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Login <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="school-login">School Login</a></li>
                                <li><a href="student-login">Student Login</a></li>                 
                            </ul>                            
                        </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="headline-bg ">
    </div><!--//headline-bg-->         
    
    <!-- ******Video Section****** --> 
    <section class="features-tabbed section">
	<h2 class="title">Frequently Asked Questions</h2> 
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0"  style="background-color:white; opacity:1;padding-left:50px;padding-right:50px">
				<section class="faq section" style="background-color:white;">
					
					<div class="row">
						<div class="member col-md-4 col-sm-6 col-xs-12">
							<div class="member-inner">
								<figure class="profile">
									<img class="img-responsive" src="{{posts[16]}}" alt=""/>
								</figure><!--//profile-->
							</div><!--//member-inner-->
						</div><!--//member-->
						<div class="member col-md-8 col-sm-6 col-xs-12">
							<div class="member-inner">
								<h2 class="title text-left col-xs-12">{{posts[0]}} {{posts[1]}} <a class="text-right" href="" data-toggle="modal" data-target="#modal{{posts[17]}}"><i class="fa fa-edit"></i></a></h2>   
								<hr>
								<p class="text-left col-md-7 col-sm-10 col-xs-12"><b>Class:</b> {{posts[4]}}</p> 
								<p class="text-left col-md-5 col-sm-10 col-xs-12"><b>Section:</b> {{posts[5]}}</p> 
								<p class="text-left col-md-7 col-sm-10 col-xs-12"><b>School:</b> {{posts[7]}}</p> 
								<p class="text-left col-md-5 col-sm-10 col-xs-12"><b>Roll Number:</b> {{posts[6]}}</p> 
							</div><!--//member-inner-->
						</div><!--//member-->
					</div>  
					<hr>		
					
					<div class="row">
						<ul class="nav nav-tabs text-center" role="tablist">
							<li class="active last"><a href="#pi" role="tab" data-toggle="tab"><h3>Personal Information</h3></a></li>
						</ul>
						<div class="tab-content" style="background-color:white; opacity:1; border-bottom:1px;padding-bottom:-100">
							<div class="tab-pane fade-in active" id="pi">
								<p class="text-left col-md-7 col-sm-10 col-xs-12"></p>
								<p class="text-left col-md-7 col-sm-10 col-xs-12"><b>Date of Birth:</b> {{posts[2]}}</p> 
								<p class="text-left col-md-5 col-sm-10 col-xs-12"><b>Gender:</b> {{posts[3]}}</p> 
								<p class="text-left col-md-7 col-sm-10 col-xs-12"><b>Address:</b> {{posts[10]}}</p> 
								<p class="text-left col-md-5 col-sm-10 col-xs-12"><b>City:</b> {{posts[11]}}</p>
								<p class="text-left col-md-7 col-sm-10 col-xs-12"><b>State:</b> {{posts[12]}}</p> 
								<p class="text-left col-md-5 col-sm-10 col-xs-12"><b>Zip:</b> {{posts[13]}}</p>
								<p class="text-left col-md-7 col-sm-10 col-xs-12"><b>Phone Number:</b> {{posts[9]}}</p> 
								<p class="text-left col-md-5 col-sm-10 col-xs-12"><b>Email:</b> {{posts[14]}}</p> 
							</div>
						</div>
					</div>
					
					<hr>
					<br><br><br><br>
					
					<div class="row">
						<ul class="nav nav-tabs text-center" role="tablist">
							<li class="active last"><a href="#rank" role="tab" data-toggle="tab"><h3>OAT Results</h3></a></li>
						</ul>
						<div class="tab-content" style="background-color:white; opacity:1; border-bottom:1px">
							<div class="tab-pane fade-in active" id="rank">
								<p class="text-left col-md-6 col-sm-10 col-xs-12"><b>Class Rank:</b> {{cr}}</p> 
								<p class="text-left col-md-6 col-sm-10 col-xs-12"><b>School Rank:</b> {{scr}}</p> 
								<p class="text-left col-md-6 col-sm-10 col-xs-12"><b>State Rank:</b> {{str}}</p> 
								<p class="text-left col-md-6 col-sm-10 col-xs-12"><b>National Rank:</b> {{nr}}</p> 
								<p><a class="btn btn-cta btn-cta-primary col-md-12" href="https://wrapbootstrap.com/theme/velocity-designed-for-products-WB0N38R04" target="_blank"><i class="fa fa-download"></i>Download Detailed Talent Report</a></p>						
							</div>
						</div>
					</div>
					<hr>
					
				</section><!--//faq-->
				</div><!--//tab-pane-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-tabbed-->
	
	
													<div class="modal fade" id="modal{{posts[17]}}" role="dialog">
														<div class="modal-dialog">
														
														  <!-- Modal content-->
														  <div class="modal-content">
															<div class="modal-header">
															  <button type="button" class="close" data-dismiss="modal">&times;</button>
															  <h4 class="modal-title"> Student Details</h4>
															</div>
															<div class="modal-body">
																		
																		<form class="form-horizontal" action="student_pers_update" method="post"  id="reg_form"  enctype="multipart/form-data">
																			<fieldset>
																			  <div class="form-group">
																				<label class="col-md-4 control-label">First Name</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
																					<input  name="fname" placeholder="{{posts[0]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <!-- Text input-->
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Last Name</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
																					<input name="lname" placeholder="{{posts[1]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Date of Birth</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
																					<input name="dob" placeholder="{{posts[2]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			 
																			  
																			   <div class="form-group">
																				<label class="col-md-4 control-label">Gender</label>
																				<div class="col-md-6 selectContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
																					<select name="gender" class="form-control selectpicker" >
																					  <option value=" " >Please select your gender</option>
																					  <option value="male">Male</option>
																					  <option value="female">Female</option>
																					</select>
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Class</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
																					<input name="class" placeholder="{{posts[4]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Section</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
																					<input name="section" placeholder="{{posts[5]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Roll No.</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
																					<input name="rollno" placeholder="{{posts[6]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >School ID</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
																					<input name="sname" placeholder="{{posts[7]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Parent's/Gaurdian's Name</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
																					<input name="pname" placeholder="{{posts[8]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  <!-- Text input-->
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label">Phone #</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
																					<input name="phone" placeholder="{{posts[9]}}" class="form-control" type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <!-- Text input-->
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label">Address</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
																					<input name="address" placeholder="{{posts[10]}}" class="form-control" type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <!-- Text input-->
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label">City</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
																					<input name="city" placeholder="{{posts[11]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <!-- Select Basic -->
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label">State</label>
																				<div class="col-md-6 selectContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
																					<select name="state" class="form-control selectpicker" >
																					  <option value=" " >Please select your state</option>
																					  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
																		<option value="Andhra Pradesh">Andhra Pradesh</option>
																		<option value="Arunachal Pradesh">Arunachal Pradesh</option>
																		<option value="Assam">Assam</option>
																		<option value="Bihar">Bihar</option>
																		<option value="Chandigarh">Chandigarh</option>
																		<option value="Chhattisgarh">Chhattisgarh</option>
																		<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
																		<option value="Daman and Diu">Daman and Diu</option>
																		<option value="Delhi">Delhi</option>
																		<option value="Goa">Goa</option>
																		<option value="Gujarat">Gujarat</option>
																		<option value="Haryana">Haryana</option>
																		<option value="Himachal Pradesh">Himachal Pradesh</option>
																		<option value="Jammu and Kashmir">Jammu and Kashmir</option>
																		<option value="Jharkhand">Jharkhand</option>
																		<option value="Karnataka">Karnataka</option>
																		<option value="Kerala">Kerala</option>
																		<option value="Lakshadweep">Lakshadweep</option>
																		<option value="Madhya Pradesh">Madhya Pradesh</option>
																		<option value="Maharashtra">Maharashtra</option>
																		<option value="Manipur">Manipur</option>
																		<option value="Meghalaya">Meghalaya</option>
																		<option value="Mizoram">Mizoram</option>
																		<option value="Nagaland">Nagaland</option>
																		<option value="Orissa">Orissa</option>
																		<option value="Pondicherry">Pondicherry</option>
																		<option value="Punjab">Punjab</option>
																		<option value="Rajasthan">Rajasthan</option>
																		<option value="Sikkim">Sikkim</option>
																		<option value="Tamil Nadu">Tamil Nadu</option>
																		<option value="Tripura">Tripura</option>
																		<option value="Uttaranchal">Uttaranchal</option>
																		<option value="Uttar Pradesh">Uttar Pradesh</option>
																		<option value="West Bengal">West Bengal</option>
																					</select>
																				  </div>
																				</div>
																			  </div>
																			  
																			  <!-- Text input-->
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label">Zip Code</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
																					<input name="zip" placeholder="{{posts[13]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																		   
																			  
																		   
																				<!-- Text input-->
																			  <div class="form-group">
																				<label class="col-md-4 control-label">E-Mail</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
																					<input name="email" placeholder="{{posts[14]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
	  
																			   <div class="form-group">
																				<label class="col-md-4 control-label">Password</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
																					<input name="pwd" placeholder="" class="form-control"  type="password">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Percentage in Last Class</label>
																				<div class="col-md-6  inputGroupContainer">
																				  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
																					<input name="percent" placeholder="{{posts[15]}}" class="form-control"  type="text">
																				  </div>
																				</div>
																			  </div>
																			  
																			  <div class="form-group">
																				<label class="col-md-4 control-label" >Photo of Student</label>
																				<div class="col-md-6  inputGroupContainer">
																				<input name="pic" id="input-1" type="file" class="file">
																				</div>
																			  </div>
																			 
																			  
																			  <p>My Child would like to participate in Olympiad Aptitude Test- 2016-17
																		Fee of INR 225 per student (includes Maths, Science, English and Logical reasoning)
																		I hereby declare that all details mentioned above are true to the best of my knowledge. I have read and understood the terms of participation governing 2016-17 the Olympiad Aptitude Test and agree that I and my child abide by them.</p>
																		 

																			  <!-- Button -->
																			  <div class="form-group">
																				<label class="col-md-4 control-label"></label>
																				<div class="col-md-4">
																				  <button type="submit" class="btn btn-warning"  name="id" value="{{posts[17]}}">Save Changes <span class="glyphicon glyphicon-send"></span></button>
																				</div>
																			  </div>
																			</fieldset>
																		  </form>
																		
															</div>
														  </div>
														  
														</div>
													  </div>
    
 	 <div class="sections-wrapper"  style="background-color:#eceff1">
    <!-- ******FOOTER****** --> 
    <section id="c">
	<div class="container">
    <div class="row"><br>
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <h3 style="color:black"><center>Send Us a Message<center></h3><br><br>
					<fieldset>
      
				  <div class="form-group">
					<label class="col-md-4 control-label">Name</label>
					<div class="col-md-6  inputGroupContainer">
					  <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input  name="first_name" placeholder="First Name" class="form-control"  type="text">
					  </div>
					</div>
				  </div>
      
      
      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>
      

     <div class="form-group">
        <label class="col-md-4 control-label">Your Message </label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="comment" placeholder="About "></textarea>
          </div>
        </div>
      </div>
    
      
   
      
   
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div><br><br>
      
    
       
     
  
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" >SEND <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
    </fieldset>
  </form>
  
  
  <div class="col-lg-3">
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive hotel -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0173509626327009"
     data-ad-slot="7944464098"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>


<div class="row" align="left">
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive hotel -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0173509626327009"
     data-ad-slot="7944464098"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
                    </fieldset>
               
            </div>
        </div>
        <div class="col-md-6">
            <div>
                
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.3520136171587!2d72.87769901390196!3d19.267052286978583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b08a37420c95%3A0x4798c2189f2dc93!2sShangrilla+Building!5e0!3m2!1sen!2sin!4v1483674449949" width="100%" height="448" frameborder="0" style="border:0" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
</div>
</section>
</div>
	
	
    
          <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">  
					 <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Register</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>School Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Student Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Volunteer Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Internship Registration</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i>Associate Business Partner Registration</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col--> 
					
                   
                                
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">Login</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>School Login</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Associate Business Partner Login</a></li>
                                
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
					
					 <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Activites</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>OAT</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>INSAF</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Events</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>CSR</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Rewards</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col connect col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>        
                                <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>             
                            </ul>
                            <div class="form-container">
                                <p class="intro">Stay up to date with the latest news and events from TTHPL</p>
                                <form class="signup-form navbar-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                    </div>   
                                    <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>                                 
                                </form>                               
                            </div><!--//subscription-form-->
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="clearfix"></div> 
                </div><!--//row-->
                <div class="row has-divider">
                    <div class="footer-col download col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Mobile apps</h3>
                            <ul class="list-unstyled download-list">
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">Download for iOS</span> </a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-windows"></i><span class="text">Windows coming soon...</span></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//download-->
                    <div class="footer-col contact col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">Talent Treasure Hunt Pvt. Ltr.,</span><br>
                                    <span class="region">A-404, Shangrila, Hermitage Society,</span><br>
                                    <span class="postal-code">Mira Road (East),</span><br>
                                    <span class="country-name">Mumbai - 401107.</span>
                                </span>                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>9876543210</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">mohittly@gmail.com</a></p> 
                            <a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false">Follow @twitter_username</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                        
                        </div><!--//footer-col-inner-->
                    </div><!--//contact-->
                </div>
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ <a href="#" target="_blank">Treasure Talent Hunt Pvt.Ltd.</a></small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
 
   
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/static/js/back-to-top.js"></script>
    <script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="/static/js/main.js"></script>
	
	
	
	<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

	 <script src="static/js/index.js"></script>
<script type="text/javascript">
 
   $(document).ready(function() {
    $('#reg_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
           
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'IN',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            address: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            },
            city: {
                validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            state: {
                 validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            zip: {
                validators: {
                     stringLength: {
                        min: 6,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    },
					 integer: {
                        message: 'The value is not an integer'
                    }
                }
            },
		comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Please enter at least 10 characters and no more than 200'
                    },
                    notEmpty: {
                        message: 'Please supply a description about yourself'
                    }
                    }
                 },	
	 email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
					
	password: {
            validators: {
                identical: {
                    field: 'confirmPassword',
                    message: 'Confirm your password below - type same password please'
                }
            }
        },
        confirmPassword: {
            validators: {
                identical: {
                    field: 'password',
                    message: 'The password and its confirm are not the same'
                }
            }
         },
			
            
            }
        })
		
 	
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#reg_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventrefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});


 
 </script>
    
            
</body>
</html> 
