
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TTHPL | FAQ</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/static/css/styles.css">
</head> 

<body class="home-page">   
    <!-- ******HEADER****** --> 
    <header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h1 class="logo">
                <a href="index.html"><span class="text">TTHPL Logo</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="foundation">Foundation <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="foundation">About the Foundation</a></li>
                                <li><a href="oat">OAT</a></li>
                                <li><a href="insaf">INSAF</a></li>                   
                            </ul> </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="activity">Activities <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="activity/events">Events</a></li>
                                <li><a href="activity/csr">CSR</a></li>
                                <li><a href="activity/reward">Rewards</a></li>                   
                            </ul>                            
                        </li>
                        <li class="nav-item"><a href="team">Team</a></li>   
						<li class="nav-item"><a href="news">News</a></li>	
						<li class="nav-item"><a href="faq">FAQ</a></li>
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="register">Register <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="register/school">School Registration</a></li>
                                <li><a href="register/student">Student Registration</a></li>  
								<li><a href="register/internship">Internship Registration</a></li>
                                <li><a href="register/volunteer">Volunteer Registration</a></li>  				
                                <li><a href="register/business">Associate Bussiness Partner Registration</a></li>				
                            </ul>                            
                        </li>
						<li class="nav-item"><a href="contact">Contact Us</a></li>
						<li class="nav-item dropdown  nav-item-cta last">
                            <a class="btn btn-cta btn-cta-secondary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Login <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="school-login">School Login</a></li>
                                <li><a href="student-login">Student Login</a></li>                   
                            </ul>                            
                        </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="headline-bg ">
    </div><!--//headline-bg-->         
    
    <!-- ******Video Section****** --> 
    <section class="features-tabbed section">
	<h2 class="title">Frequently Asked Questions</h2> 
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1 col-xs-offset-0"  style="background-color:white; opacity:1;padding-left:50px;padding-right:50px">
					<section class="faq section" style="background-color:white;">
				<h2 align="center" class="title text-center">Founder's Desk</h2>        
				<hr>          
                <div class="about">
                    <p>TTHPL is an organization pioneering into the realm concerning national interest making all efforts to tap the versatile talent (academics and sports) at grass root level. We are optimistic, that this humble and sincere initiative will provide platform to attract the best talent.</p> 
                    <p>TTHPL firmly believe that Talent needs to be nurtured sincerely & smartly to deliver performance & excellence. The objective of a talent hunt is to spot the talent, expose him/her to competition & bench-marking to the world and making of ‘would be’ great personalities in their respective field steering the national cause. The ethos of the organization is based upon ‘serving the nation’ within the strict compliance of integrity and self-reliance.</p>
					<p>TTHPL sincerely solicit your permission to witness the event being conducted at place. On receipt of confirmation, further modalities can be synchronized with your nodal officer and accordingly, we are willing to follow all procedures and documentations within the framework of your rules & regulations.</p>
					<p>Sir, your positive response will go a long way in the furtherance of the cause of the nation as a whole. I also request you to kindly give wide publicity to this so that maximum students can be benefitted and prove to the world that:</p>
					<h4>“YES, WE CAN DO”</h4>
					<blockquote class="belife">Thanks and Regards,<br>Sanjay Singh</blockquote>               
                </div><!--//about-->
                <div class="team row">
                    <h3 class="title">Meet the team</h3>
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="/static/1.jpg" alt=""/>
                                <figcaption class="info">
                                    <span class="name">Mark Cooper</span>
                                    <br />
                                    <span class="job-title">Co-Founder</span>
                                    
                                </figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="/static/1.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Jack Tang</span><br /><span class="job-title">Co-Founder</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="/static/1.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Anna Perry</span><br /><span class="job-title">Product/UX Designer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="/static/1.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Tim Robertson</span><br /><span class="job-title">Back-end Developer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="/static/1.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Rachel Wu</span><br /><span class="job-title">Front-end Developer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                    <div class="member col-md-4 col-sm-6 col-xs-12">
                        <div class="member-inner">
                            <figure class="profile">
                                <img class="img-responsive" src="/static/1.jpg" alt=""/>
                                <figcaption class="info"><span class="name">Carl Allison</span><br /><span class="job-title">Mobile Developer</span></figcaption>
                            </figure><!--//profile-->
                            <div class="social">
                                <ul class="social-list list-inline">
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github-alt"></i></a></li>
                                </ul><!--//social-list-->
                            </div><!--//social-->
                        </div><!--//member-inner-->
                    </div><!--//member-->
                </div><!--//team-->
				</section><!--//faq-->
				</div><!--//tab-pane-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-tabbed-->
    
 	 <div class="sections-wrapper"  style="background-color:#eceff1">
    <!-- ******FOOTER****** --> 
    <section id="c">
	<div class="container">
    <div class="row"><br>
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
						
                        <h3 style="color:black"><center>Send Us a Message<center></h3><br><br>
                        
    <fieldset>
      

      
      <div class="form-group">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
          </div>
        </div>
      </div>
      

      
  
      
    

      
      <div class="form-group">
        <label class="col-md-4 control-label">Phone #</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
          </div>
        </div>
      </div>
      

     <div class="form-group">
        <label class="col-md-4 control-label">Your Message </label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <textarea class="form-control" name="comment" placeholder="About "></textarea>
          </div>
        </div>
      </div>
    
      
   
      
   
        <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-6  inputGroupContainer">
          <div class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
          </div>
        </div>
      </div><br><br>
      
    
       
     
  
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-warning" >SEND <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>
    </fieldset>
  </form>
  
  
  <div class="col-lg-3">
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive hotel -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0173509626327009"
     data-ad-slot="7944464098"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>


<div class="row" align="left">
 <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- responsive hotel -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0173509626327009"
     data-ad-slot="7944464098"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
                    </fieldset>
               
            </div>
        </div>
        <div class="col-md-6">
            <div>
                
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.3520136171587!2d72.87769901390196!3d19.267052286978583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b08a37420c95%3A0x4798c2189f2dc93!2sShangrilla+Building!5e0!3m2!1sen!2sin!4v1483674449949" width="100%" height="448" frameborder="0" style="border:0" allowfullscreen></iframe>
                
            </div>
        </div>
    </div>
</div>
</section>
</div>
	
	
    
          <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">  
					 <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Register</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>School Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Student Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Volunteer Registration</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Internship Registration</a></li>
								<li><a href="#"><i class="fa fa-caret-right"></i>Associate Business Partner Registration</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col--> 
					
                   
                                
                    <div class="footer-col links col-md-2 col-sm-4 col-xs-12 sm-break">
                        <div class="footer-col-inner">
                            <h3 class="title">Login</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>School Login</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Associate Business Partner Login</a></li>
                                
                            </ul>
                        </div><!--//footer-col-inner-->            
                    </div><!--//foooter-col-->   
					
					 <div class="footer-col links col-md-2 col-sm-4 col-xs-12">
                        <div class="footer-col-inner">
                            <h3 class="title">Activites</h3>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-caret-right"></i>OAT</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>INSAF</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Events</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>CSR</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i>Rewards</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->    
                    <div class="footer-col connect col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <ul class="social list-inline">
                                <li><a href="https://twitter.com/3rdwave_themes" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>        
                                <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>             
                            </ul>
                            <div class="form-container">
                                <p class="intro">Stay up to date with the latest news and events from TTHPL</p>
                                <form class="signup-form navbar-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                    </div>   
                                    <button type="submit" class="btn btn-cta btn-cta-primary">Subscribe Now</button>                                 
                                </form>                               
                            </div><!--//subscription-form-->
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                    <div class="clearfix"></div> 
                </div><!--//row-->
                <div class="row has-divider">
                    <div class="footer-col download col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Mobile apps</h3>
                            <ul class="list-unstyled download-list">
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-apple"></i><span class="text">Download for iOS</span> </a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
                                <li><a class="btn btn-ghost" href="#"><i class="fa fa-windows"></i><span class="text">Windows coming soon...</span></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//download-->
                    <div class="footer-col contact col-xs-12 col-md-6">
                        <div class="footer-col-inner">
                            <h3 class="title">Contact us</h3>                          
                            <p class="adr clearfix">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address">Talent Treasure Hunt Pvt. Ltr.,</span><br>
                                    <span class="region">A-404, Shangrila, Hermitage Society,</span><br>
                                    <span class="postal-code">Mira Road (East),</span><br>
                                    <span class="country-name">Mumbai - 401107.</span>
                                </span>                            </p>
                            <p class="tel"><i class="fa fa-phone"></i>9876543210</p>
                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">mohittly@gmail.com</a></p> 
                            <a href="https://twitter.com/3rdwave_themes" class="twitter-follow-button" data-show-count="false">Follow @twitter_username</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>                        
                        </div><!--//footer-col-inner-->
                    </div><!--//contact-->
                </div>
            </div><!--//container-->
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <small class="copyright">Copyright @ <a href="#" target="_blank">Treasure Talent Hunt Pvt.Ltd.</a></small>                
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
 
   
 
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/static/js/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/static/js/back-to-top.js"></script>
    <script type="text/javascript" src="/static/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flexslider-min.js"></script>     
    <script type="text/javascript" src="/static/js/main.js"></script>
	
	
	
	<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>

	 <script src="static/js/index.js"></script>
<script type="text/javascript">
 
   $(document).ready(function() {
    $('#reg_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
           
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'IN',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            address: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            },
            city: {
                validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            state: {
                 validators: {
                     stringLength: {
                        min: 4,
                    },
                    notEmpty: {
                        message: 'Please supply your city'
                    }
                }
            },
            zip: {
                validators: {
                     stringLength: {
                        min: 6,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    },
					 integer: {
                        message: 'The value is not an integer'
                    }
                }
            },
		comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Please enter at least 10 characters and no more than 200'
                    },
                    notEmpty: {
                        message: 'Please supply a description about yourself'
                    }
                    }
                 },	
	 email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
					
	password: {
            validators: {
                identical: {
                    field: 'confirmPassword',
                    message: 'Confirm your password below - type same password please'
                }
            }
        },
        confirmPassword: {
            validators: {
                identical: {
                    field: 'password',
                    message: 'The password and its confirm are not the same'
                }
            }
         },
			
            
            }
        })
		
 	
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#reg_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventrefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});


 
 </script>
    
            
</body>
</html> 
